.sidebar {
  margin-top: 30px;
}

.sidebar-pane-inner  {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 3px;
}

.sidebar .generic-container {
  margin-right: 5px;
  margin-left: 5px;
}

.sidebar-header {
  background-color: #708a69 !important;
  font-size: 13pt;
  height: 30px !important;
  line-height: 30px !important;
}
/* icons size sidebars to 30px */
.sidebar-tabs, .sidebar-tabs > ul {
  width: 30px !important;
}
.sidebar-tabs > li > a, .sidebar-tabs > ul > li > a {
  line-height: 30px !important;
}
.sidebar-tabs > li, .sidebar-tabs > ul > li {
  height: 30px !important;
}
.sidebar-tabs, .sidebar-tabs > ul {
  width: 30px !important;
}
.sidebar-tabs, .sidebar-tabs > ul {
  width: 30px !important;
}
.sidebar-left .sidebar-content {
  left: 30px !important;
}
.sidebar-right .sidebar-content {
  right: 30px !important;
}
.sidebar.collapsed {
  width: 34px !important;
}

/* style sidebar panes */
.sidebar-left .sidebar-header {
  padding-left: 30px !important;
}

.sidebar-right .sidebar-header {
  padding-left: 30px !important;
}

.sidebar-tabs > ul > li.active {
  background-color: #708a69 !important;
}

.sidebar-pane {
  background: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  padding-bottom: 3px !important;
}

.sidebar-left .sidebar-pane {
  padding-right: 0px !important;
}

.sidebar-right .sidebar-pane {
  padding-left: 0px !important;
}

.sidebar .panel-content-inner {
  overflow-x: hidden;
}

/* style content */
.sidebar-pane-content {
  height: calc(100% - 35px);
  padding-top: 3px !important;
  margin-right: 3px !important;
  margin-left: 3px !important;
}

.sidebar-pane-content .widget-container {
  max-height: 100%;
}

.sidebar-right .sidebar-pane.active {
  padding-right: 0px !important;
}

.sidebar-left .sidebar-pane.active {
  padding-left: 0px !important;
}

/* provenance icon for item in the left sidebar TODO */
div.provenance-container {
  display: none;
}

/* disable entire block of Settings */
#newSolutionPane_settings_collapse > div[value="newSolutionPane_settings_collapseParametersPanel"] {
  /*display: none;*/
}
/* disable the spatial clustering */
div#setting-spatial_parameter.parameter-setting.solution-setting {
  display: none;
}
/* disable the hide new solution from map */
div#setting-solution_layer_parameter.parameter-setting.solution-setting {
  display: none;
}